<?xml version="1.0"?>
<launch>
    <arg name="points" default="/realsense_front/depth_registered/points" />
    <arg name="persons" default="/pose_estimator/pose" />

    <node name="pose_for_spencer" pkg="tfpose_ros" type="pose_for_spencer.py" output="screen" required="true">
        <remap from="~points" to="$(arg points)" />
        <remap from="~persons" to="$(arg persons)" />
    </node>

</launch>
