<?xml version="1.0"?>
<launch>
  <arg name="gpuid" default="0"/>
  <arg name="front_camera" default="realsense_front"/>
  <arg name="color_image" default="/$(arg front_camera)/color/image_rect_color"/>
  <arg name="depth_image" default="/$(arg front_camera)/depth/image_rect_raw/compressed"/>
  <arg name="points" default="/$(arg front_camera)/depth_registered/points"/>
  <arg name="model" default="$(find tfpose_ros)/models/graph/mobilenet_thin/graph_opt.pb"/>
  <arg name="resolution" default="432x368"/>
  <arg name="visualize" default="false"/>
  <arg name="hertz" default="30"/>
  <arg name="detection_id_increment" default="20"/>
  <arg name="detection_id_offset" default="9"/>

  <node name="pose_estimator" pkg="tfpose_ros" type="broadcaster_ros.py" output="screen" required="true">
    <env name="CUDA_VISIBLE_DEVICES" value="$(arg gpuid)"/>
    <param name="model" value="$(arg model)"/>
    <param name="resolution" value="$(arg resolution)"/>
    <param name="hertz" value="$(arg hertz)"/>
    <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
    <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
    <param name="visualize" value="$(arg visualize)"/>
    <remap from="~color" to="$(arg color_image)"/>
    <remap from="~points" to="$(arg points)"/>
  </node>
</launch>
